{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Store - Авторизация</title>
  <link href="{% static 'vendor/css/auth.css' %}" rel="stylesheet"/>
  <script src="{% static 'vendor/js/all.min.js' %}"></script>
</head>
<body class="bg-primary">
<div id="layoutAuthentication">
  <div id="layoutAuthentication_content"></div>
  {% block content %} {% endblock %}
</div>
<script src="{% static 'vendor/js/jquery.slim.min.js' %}"></script>
<script
  src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/js/auth-admin.js' %}"></script>
</body>
</html>