{% extends 'users/base.html' %}
{% block style %}
  .form-signin input[type="first_name"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  }

  .form-signin input[type="last_name"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  }
    .form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  }
    .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  }
    .form-signin input[type="password1"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  }

  .form-signin input[type="password2"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  }
{% endblock %}
{% block content %}

  <form method="post" action="{% url 'users:registration' %}">
    <img class="mb-4"
         src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg"
         alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Регистрация</h1>
    {% csrf_token %}
    {% for field in form %}
      <div class="form-floating">
        {{ field }}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      </div>
    {% endfor %}
    <button class="w-100 btn btn-lg btn-primary" type="submit">Регистрация
    </button>
  </form>
  <p class="mt-5 mb-3 text-muted">
    <a href="{% url 'users:login' %}">Вход!</a> или
    <a href="#">
      Забыли пароль?
    </a>
  </p>
{% endblock %}